# Ignorar archivos de checkpoints de Jupyter
.ipynb_checkpoints/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar entornos virtuales comunes
venv/
env/
